@import '~sass-rem';
@import './variables';

// Header
.header {
	position: relative;
	background-color: $secondary;

	box-shadow: rem(0 0 10px rgba(0, 0, 0, 0.7));
}

.backdrop--transparent {
	position: absolute;
	width: 100%;
	height: 100vw;
	max-height: 100vh;

	background-color: black;
	opacity: 0.7;

	z-index: 5;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__right-section {
		display: flex;
		align-items: center;
	}
}

.logo {
	position: absolute;
	top: rem(90px);
	left: rem(3px);

	font-size: rem(40px);
	color: darkslategrey;
	font-weight: 900;
	text-align: center;

	&:hover {
		color: $white;
	}
}

// Menu
.menu {
	position: fixed;
	top: 0;
	left: 0;

	width: rem(320px);
	height: 100%;

	transform: translateX(-100%);
	background-color: $primary;
	z-index: 10;

	&--open {
		transform: translateX(0);
		transition: transform 0.7s ease-out;
	}

	&--close {
		transform: translateX(-100%);
		transition: transform 0.7s ease-out;
	}

	&__button-close {
		position: absolute;
		top: rem(20px);
		right: rem(25px);

		font-size: rem(40px);
		font-weight: 700;
		line-height: 1;

		border: 0;
		background-color: transparent;
		color: $white;
		text-shadow: rem(0 1px 0 $white);
		opacity: 0.5;
		outline: none;

		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	&-list {
		display: flex;
		justify-content: center;
		flex-direction: column;

		padding-top: rem(250px);
		padding-left: rem(100px);
	}

	&-item {
		padding: rem(10px 0);
	}

	&-link {
		font-size: rem(20px);
		font-weight: 700;
		color: $white;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}

		&--active {
			opacity: 1;
		}
	}
}

// Burger-menu icon
.burger-menu {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;

	width: rem(40px);
	height: 100%;

	cursor: pointer;

	& span {
		display: block;

		width: 80%;
		height: rem(3px);
		margin: rem(4px 0);

		background-color: rgba(0, 0, 0, 0.3);
	}

	&:hover {
		transform: rotate(90deg);
		transition: transform 0.3s ease-out;
	}
}

// Toggle
.on-off-toggle {
	position: relative;

	display: inline-block;
	width: rem(80px);
	height: rem(30px);

	cursor: pointer;
}

.on-off-toggle__slider {
	display: block;
	width: rem(80px);
	height: rem(25px);

	border-radius: rem(30px);
	background-color: rgba(0, 0, 0, 0.17);

	transition: background-color 0.4s;

	cursor: pointer;

	&:before {
		content: '';
		display: block;
		width: rem(25px);
		height: rem(25px);

		position: absolute;
		top: 0;
		left: 0;

		background-color: $white;
		border-radius: 100%;

		transition: 0.4s;
		z-index: 5;
	}

	&:after {
		content: 'Train';

		display: block;
		padding-left: rem(33px);

		line-height: rem(24px);
		font-size: rem(12px);
		font-weight: bold;
		color: $white;
		text-transform: uppercase;

		transition: all 0.4s;
	}
}

.on-off-toggle__input {
	position: absolute;
	opacity: 0;
}

.on-off-toggle__input:checked + .on-off-toggle__slider {
	background-color: rgba(0, 0, 0, 0.17);

	&:before {
		transform: translateX(55px);
	}
	&:after {
		content: 'Play';
		padding-left: rem(10px);

		color: $white;
		border-radius: rem(30px);
		background-color: $lightorange;

		transition: background-color 0.4s;
	}
}

// Statistic
.statistic {
	display: block;
	margin: rem(0 20px);

	font-size: rem(16px);
	color: rgba(0, 0, 0, 0.3);
	font-weight: 700;

	&:hover {
		color: $white;
	}
}
