@import '~sass-rem';
@import './variables';

// Header
.header {
  background-color: $secondary;

  box-shadow: rem(0 0 10px rgba(0, 0, 0, 0.7));
}

.background--transparent {
  position: absolute;
  width: 100%;
  height: 100vw;

  background-color: black;
  opacity: 0.7;

  z-index: 5;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  top: rem(50px);
  left: rem(3px);

  & p {
    font-size: rem(40px);
    color: darkslategrey;
    font-weight: 900;
    text-align: center;

    &:hover {
      color: $white;
    }
  }
}

// Menu
.menu {
  position: fixed;
  top: 0;
  left: 0;

  width: rem(320px);
  height: 100%;

  background-color: $primary;
  transition: transform 0.7s ease-out;
  z-index: 10;
  transform: translateX(-100%);

  &--open {
    transform: translateX(0);
    opacity: 1;
  }

  &__button-close {
    position: absolute;
    top: rem(20px);
    right: rem(25px);

    font-size: rem(40px);
    font-weight: 700;
    line-height: 1;

    border: 0;
    background-color: transparent;
    color: $white;
    text-shadow: rem(0 1px 0 $white);
    opacity: 0.5;
    outline: none;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: rem(250px);
    padding-left: rem(100px);
  }

  &-item {
    padding: rem(10px 0);
  }

  &-link {
    font-size: rem(20px);
    font-weight: 700;
    color: $white;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }
}

// Burger-menu icon
.burger-menu {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  width: rem(40px);
  height: 100%;
  padding: rem(10px 0);

  cursor: pointer;

  & span {
    display: block;

    width: 80%;
    height: rem(3px);
    margin: rem(4px 0);

    background-color: $white;
  }

  &:hover {
    transform: scale(1.1);
  }
}

// Toggle
.toggle {
  display: flex;
  align-items: center;
}

.toggle-switch {
  display: inline-block;
  width: rem(50px);
  height: rem(25px);
  margin: rem(0 10px);

  background: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: rem(15px);
  vertical-align: middle;

  &:after {
    content: ' ';
    display: block;
    width: rem(25px);
    height: rem(25px);

    background-color: $white;
    border: 0;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  .active & {
    &:after {
      margin-left: rem(25px);
    }
  }
}

.toggle-label {
  display: inline-block;

  font-size: rem(16px);
  font-weight: bold;
  color: $white;
  opacity: 0.6;

  text-transform: uppercase;

  &:hover {
    opacity: 1;
  }
}

.toggle-label-off {
  opacity: 1;
}

.active {
  .toggle-label-off {
    opacity: 0.6;
  }

  .toggle-label-on {
    opacity: 1;
  }
}
