@import './variables';

// Header
.header {
  background-color: $secondary;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.background--transparent {
  position: absolute;
  width: 100%;
  height: 100vw;

  background-color: black;
  opacity: .7;

  z-index: 5;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Menu
.menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 320px;
  height: 100vw;

  background-color: $primary;
  transition: transform 0.7s ease-out;
  z-index: 10;
  transform: translateX(-100%);

  &--open {
    transform: translateX(0);
    opacity: 1;
  }

  &__button-close {
    position: absolute;
    top: 5px;
    right: 10px;

    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;

    border: 0;
    background-color: transparent;
    color: $white;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    outline: none;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 60px;
    padding-left: 100px;
  }

  &-item {
    padding: 10px 0;
  }

  &-link {
    font-size: 20px;
    color: $white;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }
}

// Burger-menu icon
.burger-menu {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  width: 40px;
  height: 100%;
  padding: 10px 0;

  cursor: pointer;

  & span {
    display: block;

    width: 80%;
    height: 3px;
    margin: 4px 0;

    background-color: white;
  }

  &:hover {
    transform: scale(1.1);
  }
}

// Toggle
.toggle {
  display: flex;
  align-items: center;
}

.toggle-switch {
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 10px;

  background: #ccc;
  overflow: hidden;
  border-radius: 15px;
  vertical-align: middle;

  &:after {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;

    background-color: $white;
    border: 0;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  .active & {
    &:after {
      margin-left: 25px;
    }
  }
}

.toggle-label {
  display: inline-block;

  font-size: 16px;
  font-weight: bold;
  color: $white;
  opacity: 0.6;

  text-transform: uppercase;

  &:hover {
    opacity: 1;
  }
}

.toggle-label-off {
  opacity: 1;
}

.active {
  .toggle-label-off {
    opacity: .6;
  }

  .toggle-label-on {
    opacity: 1;
  }
}
