@import "~sass-rem";
@import './variables';

// Main cards
.main-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__img {
    display: block;
    width: rem(170px);
    height: rem(170px);
    margin: 0 auto;

    border-radius: 50%;
    border: rem(1px solid rgba(0, 0, 0, .1));
  }

  &__turnover {
    position: absolute;
    top: rem(3px);
    left: rem(10px);
    width: rem(28px);
    height: rem(30px);

    background-image: url('../assets/icons//arrow.svg');
    background-repeat: no-repeat;
    border: 0;
    opacity: 1;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.main-cards__item {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: rem(320px);
  height: rem(220px);
  margin: rem(20px 25px);

  background-color: $secondary;
  color: $white;
  background-clip: border-box;
  border: rem(1px solid rgba(0, 0, 0, .1));
  border-radius: rem(8px);

  cursor: pointer;

  &:hover {
    box-shadow: rem(0 10px 20px rgba(0, 0, 0, .4));
    transition: .3s;
  }
}

.main-cards__title {
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: rem(5px);
  padding: rem(10px 0);

  text-align: center;
  border-bottom: rem(1px solid rgba(0, 0, 0, .1));
}