@import './variables';

// Main cards
.main-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__img {
    display: block;
    width: 170px;
    height: 170px;
    margin: 0 auto;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .125);
  }

  &__turnover {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 28px;
    height: 30px;

    background-image: url('../assets/icons//arrow.svg');
    background-repeat: no-repeat;
    border: 0;
    opacity: 1;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.main-cards__item {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 320px;
  height: 220px;
  margin: 20px 25px;

  background-color: $secondary;
  color: $white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 8px;

  cursor: pointer;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
    transition: .3s;
  }
}

.main-cards__title {
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 10px 0;

  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}