@import '~sass-rem';
@import './variables';

// Cards with categories
.set-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__img {
    display: block;
    width: rem(170px);
    height: rem(170px);
    margin: 0 auto;

    border-radius: 50%;
    border: rem(1px solid rgba(0, 0, 0, 0.1));
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: rem(320px);
    height: rem(220px);
    margin: rem(20px 25px);

    // background-color: $secondary;
    color: $white;
    background-clip: border-box;
    border: rem(1px solid rgba(0, 0, 0, 0.1));
    border-radius: rem(8px);

    cursor: pointer;

    &:hover {
      box-shadow: rem(0 10px 20px rgba(0, 0, 0, 0.4));
      transition: 0.3s;
    }
  }

  &__title {
    width: 100%;
    display: block;
    margin: 0;
    margin-bottom: rem(5px);
    padding: rem(10px 0);

    text-align: center;
    border-bottom: rem(1px solid rgba(0, 0, 0, 0.1));
  }
}

// Cards with words
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  &__container {
    position: relative;
    perspective: 1000px;
  }

  &__item {
    position: relative;
    width: 100%;
    height: 100%;

    text-align: center;

    transition: box-shadow 0.25s linear, transform 0.7s, -webkit-transform 0.7s;
    transform-style: preserve-3d;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: rem(320px);
    height: rem(220px);
    margin: rem(20px 25px);

    color: $white;
    background-clip: border-box;
    border: rem(1px solid rgba(0, 0, 0, 0.1));
    border-radius: rem(8px);

    &--translate {
      transform: rotateY(180deg);
    }
  }

  &__img {
    display: block;
    width: rem(170px);
    height: rem(170px);
    margin: 0 auto;

    border-radius: 50%;
    border: rem(1px solid rgba(0, 0, 0, 0.1));
  }

  &__turnover,
  &__play {
    position: absolute;
    top: rem(3px);
    width: rem(28px);
    height: rem(30px);

    background-repeat: no-repeat;
    opacity: 1;

    &__turnover:hover,
    &__play:hover {
      transform: scale(1.1);
    }
  }

  &__turnover {
    left: rem(10px);
    background-image: url('../assets/icons/arrow.svg');
  }

  &__play {
    right: rem(10px);
    background-image: url('../assets/icons/play.svg');
  }

  &__front,
  &__back {
    position: absolute;
    backface-visibility: hidden;

    width: 100%;
    height: 100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;

    background-color: $yellow;
    background-clip: border-box;
    border: rem(1px solid rgba(0, 0, 0, 0.1));
    border-radius: rem(8px);

    cursor: pointer;

    &:hover {
      box-shadow: rem(0 10px 20px rgba(0, 0, 0, 0.4));
      transition: 0.3s;
    }
  }

  &__title {
    width: 100%;
    display: block;
    margin: 0;
    margin-bottom: rem(5px);
    padding: rem(10px 0);

    text-align: center;
    border-bottom: rem(1px solid rgba(0, 0, 0, 0.1));
  }

  &__back {
    color: white;
    transform: rotateY(180deg);

    background-color: $cyan;
  }
}
